PORT=3001
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/socials

EMAIL_USER=socialsofficialmail@gmail.com
EMAIL_PASSWORD=
EMAIL_FROM_NAME=socials
EMAIL_FROM_ADDRESS=socialsofficialmail@gmail.com


JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
JWT_ACCOUNT_CREATION_SECRET=your_account_creation_token_secret

GOOGLE_CLIENT_ID=

